*.swp
*.log
node_modules
bin/*.js
main/enable*
test/*/results
test/*/tmp
test/*/stopIfFailed
test/*/skipHeavyTests
test/*/noRestartTest
test/test262/*.json
test/test262/sta.js
test/node/test/tmp
test/v8bench/*.js
